.errors {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /*margin-top: 10px;*/
    margin: 10px 30%;
    background-color: white;
}

.logo {
    color: #ff0a09;
    margin-left: 20px;
}

.date {
    text-align: center;
}
.end_of_error {
    padding-bottom: 5px;
}