.errors {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 10px 10%;
    background-color: white;
    overflow: auto;
    padding: 5px;
}

.errors_text {
    color: #ff0a09;
    padding-left: 10px;
}

.logo {
    color: #ff0a09;
    margin-left: 20px;
}

.header {
    text-align: center;
}
.end_of_error {
    padding-bottom: 5px;
}

.right {
    transform: rotate(-45deg);
}

.read {
    border-bottom: 2px dotted red;
    color: red;
}

.triangle1 {
    border: 8px solid transparent;
    border-left: 8px solid red;
    display: inline-block;
}

.triangle2 {
    border: 8px solid transparent;
    border-top: 8px solid red;
    margin-top: 10px;
    display: inline-block;
}
